page-detail-ukm {

    .back-button {
        display: none !important; 
    }

    .image {
        margin-top: 5px;
        margin-right: auto;
        margin-left: auto;
        display: block;
        width: 20%;
        height: auto;
    }

    ion-navbar.toolbar {
        border-bottom: 1px rgb(180, 180, 180) solid;
    }

}
